
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Schools
                <!--
                {#link-to 'message.new' data-toggle="modal" href="#Picker" class="btn btn-info pull-right"}}
                    Bulk Message
                {/link-to}}
                -->

            </header>
            <div class="panel-body">
                <div class="adv-table">
                    <div id="dynamic-table_wrapper" class="dataTables_wrapper form-inline" role="grid">
                        <table class="display table table-bordered table-striped dataTable" id="dynamic-table" aria-describedby="dynamic-table_info">
                            <thead>
                            <tr role="row">
                                <th class="sorting" role="columnheader" aria-controls="dynamic-table" >
                                    School
                                </th>
                                <th class="sorting" role="columnheader" aria-controls="dynamic-table" >
                                    Total Users
                                </th>
                                <th class="sorting" role="columnheader" aria-controls="dynamic-table" >
                                    Total Courses
                                </th>
                            </tr>
                            </thead>
                            <tbody role="alert" aria-live="polite" aria-relevant="all">
                                {{#each school in model}}
                                    <tr class="gradeX odd">
                                        <td class=" ">{{school.school_name}}</td>
                                        <td class=" ">{{school.total_users}}</td>
                                        <td class=" "> {{school.total_courses}} </td>
                                    </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="Picker" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            {{outlet}}
        </div>
    </div>
</div>