/app/bootstrap*
/app/cache/*
/app/logs/*
/app/config/parameters.yml
/vendor/*
/.idea
/.idea/*
/.idea
/.idea/*
/web/ember/.idea
/web/ember/.idea/*
/web/ember/.idea/*
/web/teachers/*
/web/ember/js/ember/teachers-old/*
/web/ember/js/ember/teachers/*
/web/ember/js/ember/teachers/node_modules/*
/web/ember/js/ember/admin/node_modules/*
