{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div action="{{ path('fos_user_resetting_send_email') }}" method="POST" >
        <div class="login-wrap">
            <div>
                <strong>
                We have send an email to
                {{ email }}
                </strong>
                <br/>
                <br/>
                <strong>In it you will find instructions on how to reset your password
                </strong>
            </div>
        </div>
    </div>

{% endblock %}
