{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div action="{{ path('fos_user_resetting_send_email') }}" method="POST" >
        <div class="login-wrap">
            <div>
                <strong>
                We have send an email with instructions to reset your password to: </strong>
                {{ email }}

                <br/>
                <br/>
                <strong>
                    Be sure to check your junk folder
                </strong>
            </div>
        </div>
    </div>

{% endblock %}
