{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <div class="login-wrap">
        <div>
            <strong>
               Passwords can be reset every 2 hours
            </strong>
        </div>
    </div>
{% endblock fos_user_content %}
