<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Share WhatsDue</title>
    <meta property="og:title"
          content="WhatsDue: Never Miss A Due Date" />
    <meta property="og:image"
          content="http://whatsdueapp.com/img/facebook-share.png" />
    <meta property="og:description"
          content="WhatsDue puts all of your due dates for all of your classes in 1 easy to use
          todo list" />
    <script>
        window.location='http://whatsdueapp.com';
    </script>
</head>
</html>
