<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">{{course_name}} - New Assignment</h4>
</div>
<div class="modal-body">
    <form action="#" class="form-horizontal ">
        <div class="form-group">
            <div class="col-md-5">
                {{input type="text" value=assignment_name maxlength="20" class="pull-left form-control" placeholder="Assignment Name"}}
            </div>
            <div class="col-md-4">
                {{input type="text" value=due_date id="datetime"}}
                <input type="text" id="date" class="form-control" required="required" readonly="readonly" size="16" placeholder="Due Date"/>
            </div>

            <div class="col-md-3">
                <input type="text" id="time" class="form-control" required="required" readonly="readonly" size="16" placeholder="Time"/>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" {{action 'save'}} >Save</button>
</div>