
parameters:
    database_driver:            pdo_mysql
    database_host:              localhost
    database_port:              3306
    database_name:              symfony
    database_user:              root
    database_password:          ~
    mailer_transport:           smtp
    mailer_host:                127.0.0.1
    mailer_user:                ~
    mailer_password:            ~
    locale:                     en
    secret:                     ThisTokenIsNotSoSecretChangeIt
    time_zone:                  "America/Los_Angeles"
    environment: prod
    ssl: https
    push_ios_sandbox: false
    push_ios_path: certificates/APNS/production_com.whatsdue.app.pem
    push_ios_passphrase: null
    branch_url: http://api.branch.io/v1/url?branch_key=key_test_pnpGrYydWQUPl7fgotkbxojgrBkdnpe4