

body{
    background-color:  #eff0f4;
}

.main-content{
    margin-left: 0;
}

.sticky-header .header-section{
    left: 0;
}

.sticky-header .menu-right {
    margin-right: 0;
}

.main-content{
    min-height: 0;
}

.modal-body input{
    width: 100%;
    min-height: 50px;
}

#logo{
    height:50px;
    padding:10px;
}

.panel-heading button{
    margin-top: -7px;
}

.modal-body{
    min-height: 210px;
}

#datetime{
    position: absolute;
    left: -1000px;
}

#add-first-assignment{
    width: 50%;
    margin-left: 45%;
    padding-bottom: 10px;
}

.panel-heading a{
    color: #49586e;
}

#add-first-assignment, #add-first-course{
    display: none;
}

td.disabled{
    color: #d3d3d3!important;
}

.fa.big-middle{
    font-size: 300px;
    color: lightskyblue;
    display: block;
    width: 255px;
    height: 255px;
    line-height: 260px;
    margin: 100px auto;
}

@media (max-width: 990px) {
    .wrapper .pull-left, .wrapper .pull-right{
        float:none!important;
    }
    .modal-body .form-group div:not(:first-child){
        margin-top: 20px;
    }
    .panel-heading button {
        margin-top: 10px;
        width: 100%;
    }
}
