html, body, body > .ember-view, body > .ember-view > section, .main-content{
    height: 100%;
}

body{
    background-color:  #eff0f4;
}

.main-content{
    margin-left: 0;
}

.sticky-header .header-section{
    left: 0;
}

.sticky-header .menu-right {
    margin-right: 0;
}

.main-content{
    min-height: 0;
}

.modal-body input{
    width: 100%;
}

#logo{
    height:50px;
    padding:10px;
}

.panel-heading button{
    margin-top: -7px;
}

.modal-body{
    height: 200px;
}

#datetime{
    position: absolute;
    left: -1000px;
}

#add-first-assignment{
    width: 50%;
    margin-left: 45%;
    padding-bottom: 10px;
}

.panel-heading a{
    color: #49586e;
}

#add-first-assignment, #add-first-course{
    display: none;
}